*{
    padding: 0px;
  margin: 0px;
  box-sizing:border-box;
  
}
body
{ background: #f5f7fa;
  padding: 20px; }
.wrapper{background:#fff;
    margin: 0 auto;
width: 1200px ;
display: flex;
font-family: 'Montserrat', sans-serif;
}


.sidebar{background: #1e2939;
  width: 370px;  
padding-top: 40px; 
 padding-bottom: 40px;}

 /* .myphoto{width: 370px;} */
.about-my-conteiner{
    padding-left:90px ;
    padding-right:90px ;
    padding-bottom:110px ;
    padding-top:110px ;
    font-family: Montserrat;
}
.contactconteiner {
    padding-top: 60;
    padding-left: 40px;
    padding-right: 40px;
}
.contactshrift{
    padding-top: 40px;
color: #fff;
font-size: 22px;
font-weight: 700px;
line-height: 24px;

}
.contactlink{
    color:  #434c5a;
    font-size: 14px;
font-weight: 400px;
line-height: 24px;}
.contactlinktype{
color:  #fff;
font-size: 14px;
font-weight: 700px;
line-height: 24px;
margin-right: 10px;

}
.spisokkonteiner{
padding: 20px;
color: #9da2a9;
}


.zborka{
  padding-top: 15px;
}
.Developer{
font-size: 14px;
font-weight: 700;
line-height: 24px;}
.name{font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.nameone{
/* font-size: 14px;
font-weight: 400;
line-height: 24px; */

height: 107px;}
.block{
  margin: 20px;

}
.prod{
  font-size: 22px;
font-weight: 700;
line-height: 24px;
margin: 15px;
padding-top: 25px;
}
.link-prodject{
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

}
.yazik{
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

}
.cifri{
font-weight: 700;
margin-left: 15px;

}
.tochka{
color:#a8a8a8 ;
}
.class{
padding-bottom: 10px;
padding-top: 15px;
}
.profi{
  color: #ff7113;
}